<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      <small>
        <a
          href=" https://data.covidactnow.org/latest/us/counties.OBSERVED_INTERVENTION.json"
          >Data</a
        >
        courtesy <a href="https://covidactnow.org/">Covid Act Now</a>.
      </small>
    </footer>
  </body>
</html>
