main,
footer {
  padding: 50px;
  text-align: center;
}

article {
  display: inline-block;
  padding: 4em;
  filter: drop-shadow(
    0 6mm 4mm rgba(0, 0, 0, 0.5)
  ); /* border: 1px solid gray; */
  max-width: 900px;
}

a.na {
  color: #ccc;
}

article h2 {
  margin: 0;
  font-size: 2.5vw;
}
article section p {
  margin: 0;
  font-size: 5em;
}
article h1 {
  font-size: 6vw;
  text-transform: uppercase;
  line-height: 1.1;
  padding: 0.3em 0;
}

article.unknown {
  background-color: lightgray;
  color: gray;
}
article.verylow {
  background-color: #3f3;
}
article.low {
  background-color: #3f3;
}
article.medium {
  background-color: #ff6;
}
article.high {
  background-color: #ff0;
}
article.veryhigh {
  background-color: orange;
}
article.severe {
  background-color: red;
}

a.unknown {
  color: #999;
}
/* a.verylow {
  color: #3f3;
}
a.low {
  color: #3f3;
}
a.medium {
  color: #ff6;
}
a.high {
  color: #ff0;
}
a.veryhigh {
  color: orange;
}
a.severe {
  color: red;
} */
